{% extends 'flatpages/default.html' %}

{% load custom_filters %}


{% block title %}
News with Django
{% endblock title %}

{% block content %}


<h1>Все новости</h1>
   <h3>Новостей на странице: {{posts | length }}</h3>

   <hr>
       <table>
           <td><u>Заголовок</u></td>
           <td><u>Дата публикации</u></td>
           <td><u>Содержание</u></td>
           <td><u>Тип публикации</u></td>
           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.publication_time |date:'d M Y' }}</td>
               <td>{{ post.text | truncatewords:20 | censor }}</td>
               <td>{{ post.get_type_display }}</td>
           </tr>
           {% endfor %}

       </table>

{% if is_not_author %}
<button> <a href="upgrade/"> Хочу стать автором!</a> </button>
{% endif %}

<br>
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}



{% endblock content %}

